@inherits ToDoListStateHandler

<EditForm Model="@this" OnValidSubmit="OnNewToDoItemSubmitted">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        What?
        <InputText id="whatInput" class="form-control" title="What" type="text" @bind-Value="What" />
    </label>
    <label>When?
        <InputDate id="inputDate" class="form-control" title="When" TValue="DateTime" @bind-Value="When" />
    </label>
    <label>
        Who?
        <InputText id="whoInput"  class="form-control" title="Who" type="text" @bind-Value="Who" />
    </label>
    <label>
        Notes
        <InputText id="notesInput"  class="form-control" title="Notes" type="text" @bind-Value="Notes" />
    </label>
    <button id="createItemButton" class="btn btn-success" title="Submit" type="submit">Create!</button>
</EditForm> 

@if (ToDoList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Done</th>
                <th>What</th>
                <th>Who</th>
                <th>When</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ToDoList)
            {
                <tr>
                    <td>
                        <input type="checkbox" @bind="@item.Done" />
                    </td>
                    <td>@item.What</td>
                    <td>@item.When.ToShortDateString()</td>
                    <td>@item.Who</td>
                    <td>@item.Notes</td>
                    <td><button id="deleteButton" class="btn btn-danger" @onclick="() => DeleteItemHandler(item)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}